
body{
    background-color: rgb(206, 230, 230);
    font-family:poppin;
}
.navbar {
box-shadow: 2px 2px 20px aqua;
background-color:rgb(225, 225, 191);
position: sticky;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1020;

}

  